/* Staff Image Styling */

.moderator {
  border: 3px solid #b89fff;
}

.amm {
  border: 3px solid #ff9666;
}

.helper {
  border: 3px solid #17ac86;
}

.gestorehelper {
  border: 3px solid #5dfff7;
}

.op {
  border: 3px solid #93bfe6;
}


.owner {
  border: 3px solid #ff1d1d;
}

.founder {
  border: 3px solid #5329f1;
}

/* Custom Staff Tags */

.tag.is-moderator {
  background-color: #b89fff;
  text-shadow: #222222 3px 3px 3px;
  color: #fff;
}

.tag.is-amm {
  background-color: #ff9666;
  text-shadow: #222222 3px 3px 3px;
  color: #fff;
}

.tag.is-helper {
  background-color: #17ac86;
  text-shadow: #222222 3px 3px 3px;
  color: #fff;
}

.tag.is-gestorehelper {
  background-color: #5dfff7;
  text-shadow: #222222 3px 3px 3px;
  color: #fff;
}

.tag.is-op {
  background-color: #93bfe6;
  text-shadow: #222222 3px 3px 3px;
  color: #fff;
}

.tag.is-owner {
  background-color: #ff1d1d;
  text-shadow: #222222 3px 3px 3px;
  color: #fff;
}

.tag.is-founder {
  background-color: #5329f1;
  text-shadow: #021310 3px 3px 3px;
  color: #fff;
}
